// variables.scss: 0.1
// pub css variable

$font_color: #000000; 			// font color
$font_disable_color: #999999;
$font_thin_color: #969494; 			// font color
$font_size: 12px;			// font size
$line_height: 30p;			// line height
$box_sizing_border: border-box;
$box_sizing_content: content-box;

// border color
$border_thin_color: #d5d5d8;
$border_thick_color: #bcbcbd;
$background_color: #ffffff;
$background_thick_color: #dddddd;

// a tag color
$a_hover_font_color : #000000;
$a_hover_border_color: #a4e3cf;
$a_hover_background_color: #ffffff;
$a_hover_color: #a4e3cf;


//table tr 
$table_tr_odd : #f3f6fa;
$table_tr_even : #fff;

$arrow_color :#989494;	// sub menu right arrow border color
$arrow_active_color :#716e6e;	// sub menu right arrow active border color


@mixin box-sizing($boxtype) {
  -webkit-box-sizing: $boxtype !important;
  -moz-box-sizing: $boxtype !important;
  box-sizing: $boxtype !important;
}

@mixin background_gradident{
  background-image: -webkit-linear-gradient(#ffffff,#f1f1f1);
  background-image: -moz-linear-gradient(#ffffff,#f1f1f1);
  background-image: -ms-linear-gradient(#ffffff,#f1f1f1);
  background-image: -o-linear-gradient(#ffffff,#f1f1f1);
  background-image: linear-gradient(#ffffff,#f1f1f1);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1', GradientType=0);
}

@mixin text_shadow{
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

@mixin box_shadow{
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}



// --------------------------------  pub grid start -------------------------------- 
$border_colfixed_color :#848486; // column fixed border
$navigation_font_color : #fbf8f8; 

// scroll 
$scroll_border_color : #cac3c3;
$scroll_background_color :#f5f4f4;

$scrollbar_border_color : #aaaaaa;
$scrollbar_background_color :#ccc8c8;

$scrollbar_active_color :#989191;

$move_header_background : #82c5c0;		// header resize 

$column_active_background: #8bbdf1;		//column select color
$column_active_color: #fbf8f8;
// -------------------------------- pub grid end -------------------------------- 
 
//-------------------------------- pub context menu start -------------------------------- 
$context_menu_header_font_color: #444040; // header color
//--------------------------------  pub context menu end-------------------------------- 


// -------------------------------- pub tab end -------------------------------- 
$tab_background : #dbd5d5;
$tab_active_background : #f5f5f5;
$tab_active_color: #1a1818;
// -------------------------------- pub tab end -------------------------------- 